<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>60784378706-ojgorpldbttnfbgard8ste5itfenrieg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.60784378706-ojgorpldbttnfbgard8ste5itfenrieg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>60784378706-ctj10l9sa7lk8qohinpe6n6jn93g0ai9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCB6CjfvOuk1I5-53WdBxyRyQwUfyXW3Ao</string>
	<key>GCM_SENDER_ID</key>
	<string>60784378706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jetbrains.androidApp</string>
	<key>PROJECT_ID</key>
	<string>calculator-9241a</string>
	<key>STORAGE_BUCKET</key>
	<string>calculator-9241a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60784378706:ios:2cd8eee5bfc5d4621e308b</string>
</dict>
</plist>